@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

}
html, body, #root {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #c4cba3;
}
